<!-- <img src="img/fair_map.png" alt="" usemap="#Map" /> -->


<!-- <div class="container">
	<div class="row bodys">
		<div class="col-md-12" style="text-align:center">

			<div name="Map" id="Map" class="standCard" ng-repeat="stand in stands">
				<p><a href="/{{stand.id}}">{{stand.standName}}</a></p>

			</div>


			<img src="img/fairmap.png">
			<button type="button" class="stand1">Click Me!</button>
		</div>
	</div>
</div> -->

<div class="container">
	<div class="row">

		<div class="col-md-12 text-center map-center">
			<!-- Trigger the modal with a button -->
			<img class="img-responsive map-center" src="img/fairmap.png" alt="science-fair-map" usemap="#Map" />
			<map name="Map" id="Map">
				<div ng-repeat = "stand in stands">
					<area go-click="/stand/{{stand.name}}" alt="{{stand.name}}" title="{{stand.name}}" shape="poly" coords={{stand.coords}} />
				</div>
			</map>
		</div>

	</div>
</div>