<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div back-img="img/fair_logo.png" ></div>
		</div>
	</div>
</div>

<img class="img-responsive text_fair_button" src="img/text_fair_logo.png" usemap="#Map" />
<map name="Map" id="Map">
	<area class="area2" alt="" title="login" href="#/login" shape="poly" coords="56,132,81,90,129,90,148,130,128,171,81,170" />
	<area alt="" title="" href="#/map" shape="poly" coords="139,85,161,45,208,45,231,85,208,124,161,126" />
</map>