<div ng-controller="StandViewController">
	<div class="standCard" ng-repeat="stand in stands | filter : {name:name}:true">
		<span><h3 class="standName">{{stand.name}}</h3></span><span>{{stand.id}}</span>
		<img class="standImage" src="{{stand.image}}">
		<h4 class="standSubtitle">¿Quienes somos?</h4>
		<p class="standText">{{stand.who}}</p>
		<h4 class="standSubtitle">¿Qué hacemos?</h4>
		<p class="standText">{{stand.what}}</p>
		<h4 class="standSubtitle">Contacto</h4>
		<p  class="standText" ng-repeat="contact in stand.contact">{{contact}}</p>
	</div>
</div>